

<!-- Container for Delete Selected button and bin icon -->
<div class="container">
  <!-- Search bar -->
<input type="text" [(ngModel)]="searchText" placeholder="Search" (keyup.enter)="search()" class="search-input" />
<button (click)="search()" class="search-button">Search</button>

  <button class="delete-selected" (click)="deleteSelected()">
    <i class="fa fa-trash"></i>
  </button>
</div>
<!-- Table -->
<table>
  <thead>
    <tr>
      <th>
        <input type="checkbox" (change)="selectAll($event)" [checked]="isAllSelected()" />
      </th>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of displayedRows" [ngClass]="{'selected-row': row.selected}">
      <td>
        <input type="checkbox" [(ngModel)]="row.selected" />
      </td>
      <td [contentEditable]="row.editable ? 'true' : 'false'" (blur)="onEdit(row, 'name')">{{ row.id }}</td>
      <td [contentEditable]="row.editable ? 'true' : 'false'" (blur)="onEdit(row, 'name')">{{ row.name }}</td>
      <td [contentEditable]="row.editable ? 'true' : 'false'" (blur)="onEdit(row, 'email')">{{ row.email }}</td>
      <td [contentEditable]="row.editable ? 'true' : 'false'" (blur)="onEdit(row, 'role')">{{ row.role }}</td>
      <td>
        <button class="edit" (click)="editRow(row)"><i class="far fa-edit"></i></button>
        <button class="delete" (click)="deleteRow(row)"><i class="fa-solid fa-trash"></i></button>
        <button class="save" *ngIf="row.editable" (click)="saveRow(row)">Save</button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Pagination buttons -->
<div>
  <button class="first-page" (click)="goToPage(1)"><i class="fa-solid fa-backward"></i></button>
  <button class="previous-page" (click)="goToPage(currentPage - 1)"><i class="fa-solid fa-chevron-left"></i></button>
  <span *ngFor="let pageNumber of pageNumbers" [class.current-page]="pageNumber === currentPage">
    <button (click)="goToPage(pageNumber)">{{ pageNumber }}</button>
  </span>
  <button class="next-page" (click)="goToPage(currentPage + 1)"><i class="fa-solid fa-chevron-right"></i></button>
  <button class="last-page" (click)="goToPage(totalPages)"><i class="fa-solid fa-forward"></i></button>
</div>


